<h1>Generate QR code for transaction</h1>

<%= form_with model: @transaction, url: qr_generator_path do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="input-group mb-3">
    <span class="input-group-text">Target account</span>
    <% if current_usr.accounts.empty? %>
      <input type=text class="form-control" placeholder="You need to create at least one account to generate a qr code." disabled>
    <% else %>
      <%= form.select :recipient, current_usr.accounts_form_set, class: "form-select form-control" %>
    <% end %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Amount</span>
    <%= form.text_field :amount, class: "form-control", placeholder: "123.45" %>
    <span class="input-group-text">something</span>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Note</span>
    <%= form.text_field :note, class: "form-control", placeholder: "Train tickets" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Variable symbol</span>
    <%= form.text_field :variable_symbol, class: "form-control", placeholder: "911" %>
  </div>

  <div>
    <%= form.submit "Generate", class: "btn btn-primary" %>
  </div>

<% end %>

<%= generate_svg_qrcode(@link) %>
