<div id="<%= dom_id transaction %>">
  <p>
    <strong>Note:</strong>
    <%= transaction.note %>
  </p>

  <p>
    <strong>My note:</strong>
    <%= transaction.my_note %>
  </p>

  <p>
    <strong>Variable symbol:</strong>
    <%= transaction.variable_symbol %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= transaction.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= transaction.recipient_id %>
  </p>

</div>
