<h1>New transaction</h1>

<%= form_with model: @transaction, url: new_transaction_path do |form| %>
  <%= render "shared/form_errors", form: form %>
  <p>From account <i><%= Current.account.name %></i> with number <i><%= Current.account.id %></i> with <i><%= Current.account.value_currency %></i> on it.</p>

  <div class="input-group mb-3">
    <span class="input-group-text">Sender account</span>
    <%= form.select :sender, Current.user.accounts_form_set , class: "form-select form-control" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Recipient account number</span>
    <% if @percipient == nil %>
      <%= form.text_field :recipient_id, class: "form-control", placeholder: "123456" %>
    <% else %>
      <%= form.text_field :recipient_id, class: "form-control", placeholder: "123456", value: @percipient.id %>
    <% end %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Amount</span>
    <%= form.text_field :amount, class: "form-control", placeholder: "123.45" %>
    <span class="input-group-text"><%= Current.account.currency_symbol %></span>
  </div> 

  <div class="input-group mb-3">
    <span class="input-group-text">Note for recipient</span>
    <%= form.text_field :note, class: "form-control", placeholder: Current.user.full_name + " - eletrical bill" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Note for you</span>
    <%= form.text_field :my_note, class: "form-control", placeholder: "ČEZ Praha - eletrical bill" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Variable symbol</span>
    <%= form.text_field :variable_symbol, class: "form-control", placeholder: "911" %>
  </div>

  <div>
    <%= form.submit "Send!", class: "btn btn-primary" %>
  </div>

<% end %>