<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Curenccy:</strong>
    <%= account.curenccy %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= account.value %>
  </p>

  <p>
    <strong>Owener:</strong>
    <%= account.owener_id %>
  </p>

</div>
