<div id="<%= dom_id account %>">
  <h1>Acocunt: <%= account.name %></h1>

  <p>
    <strong>Currency:</strong>
    <%= account.currency %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= account.value.to_s %> <%= account.currency_symbol %>
  </p>
</div>
