<%= form_with model: account do |form| %>
  <%= puts "Form: " + form.object %>
  <%= render "shared/form_errors", form: form %>
  <div class="mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="mb-3">
    <%= form.label :curenccy, style: "display: block" %>
    <%= form.text_field :curenccy %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create new account", class: "btn btn-primary" %>
  </div>
<% end %>