<h1>New account</h1>

<%= form_with model: @account do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="mb-3">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="mb-3">
    <%= form.label :currency, style: "display: block" %>
    <%= form.select :currency, @account.currency_set %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create new account", class: "btn btn-primary" %>
  </div>
<% end %>